#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --with-db-path=/etc/hddtemp.db

override_dh_auto_install:
	dh_auto_install
	install -p -o root -g root -m 644 $(CURDIR)/debian/hddtemp.db \
                                          $(CURDIR)/debian/hddtemp/etc/hddtemp.db
